{% extends "AppPlantillas/index.html" %}

{% load static %}

{% block mantenerbarra %}
		
			</p>
			<h3 class="text-danger text-center">
				¡CONOCE UN POCO ACERCA DE SUS CREADORES!
			</h3>
			<p>
			
			</p>
			<p class="text-center">
				<strong></strong>
			</p>
			<p>
			
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<p class="text-center">
			<img alt="Bootstrap Image Preview" src="{% static 'AppPlantillas/img/about.jpg' %}">
			</p>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div>
	<p>
	</p>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<p>
				
			</p>
			<p class="text-justify">
			 Blog Sport nacio en el Año 2022 como un proyecto final de desarrollo. Nosotros , sus creadores, somos administradores de sistemas que de pronto tuvimos la idea de pensar acerca de las pasiones que mueven multitudes y entre tantas cosas, se nos vino a la mente los amantes de todos los deportes! Es por eso que se nos ocurrio la oportunidad de poder reflejar en un solo sitio una inmensa cantidad de informacion y las ultimas noticias del mundo del deporte. Ojala disfruten tanto de esto como nosotros al haberlo creado.  
			</p>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

  </body>
</html>

{% endblock %}

{% block contenidonoaparece %}

{% endblock %}
