{% extends "AppPlantillas/index.html" %}

{% load static %}

{% block contenidoQueCambia %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BUSCAR MENSAJE </h1>

    {% if formulario_mensaje.errors %}
        <p style="color:red"> HAY ALGO MAL EN EL FORMULARIO</p>
    {% endif %}

    <form action="/AppPlantillas/buscar/" method="GET"> 
        
       <h1></h1>Buscar mensajes para el receptor:</h1> <input type="text" name="receptor" id="receptor">
        
        <input type="submit" value="Buscar">
       
    </form>

</body>
</html>

{% endblock %}