{% extends "AppPlantillas/index.html" %}

{% load static %}

{% block mantenerbarra %}

			</p>
			<h3 class="text-danger text-center">
				Djokovic, sin vacunas, no puede jugar en Canadá, ¿y el US Open?
			</h3>
			<p>
			
			</p>
			<p class="text-center">
				<strong>El serbio fue confirmado como baja en el Masters 1000 de Montreal; lo mismo le sucedería en Nueva York.</strong>
			</p>
			<p>
			
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<p class="text-center">
			<img alt="Bootstrap Image Preview" src="{% static 'AppPlantillas/img/djokovic_noticia.jpg' %}">
			</p>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div>
	<p>
	</p>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<p>
				
			</p>
			<p class="text-justify">
				La situación parece ser cada vez más complicada para Novak Djokovic (6°). Por su persistente negativa a vacunarse contra el Covid-19, los problemas se han ido incrementando para el serbio. Ahora faltará en el Masters 1000 de Canadá, ya que sin estar inoculado no lo dejan entrar a ese país. Una situación similar se daría con el último Grand Slam del año.	
			</p>
			<p class="text-justify">
				Quienes sí estarán serán dos históricos del circuito, Andy Murray (50°) y David Goffin (60°). Rafael Nadal (3°) también se sumará pese a algunas dudas sobre su estado físico. El director del evento en Montreal, Eugène Lepierre, ya había comunicado con anterioridad la dificultad de que el serbio pudiera estar presente. "O el gobierno canadiense cambia las reglas con respecto a las vacunas o se arremanga y se vacuna. Pero no creo que ninguno de estos escenarios sea realista", fueron sus palabras Para ser considerado un viajero totalmente vacunado por Canadá, una persona debe haber recibido su segunda dosis de la vacuna Covid-19 al menos 14 días antes de entrar al país. 	
			</p>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

<script src="{% static 'AppPlantillas/js/jquery.min.js' %}"></script>
<script src="{% static 'AppPlantillas/js/bootstrap.min.js' %}"></script>
<script src="{% static 'AppPlantillas/js/scripts.js' %}"></script>

{% endblock %}
{% block contenidonoaparece %}

{% endblock %}
  </body>
</html>