{% extends "AppPlantillas/index.html" %}

{% load static %}

{% block mantenerbarra %}

			</p>
			<h3 class="text-danger text-center">
				Banfield lo dio vuelta y pasó a octavos de Copa Argentina
			</h3>
			<p>
			
			</p>
			<p class="text-center">
				<strong>Tras estar 0-1 abajo ante Unión, el Taladro reaccionó y lo ganó con goles de Dátolo y Coronel. Lo espera el lobo jujeño.</strong>
			</p>
			<p>
			
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<p class="text-center">
			<img alt="Bootstrap Image Preview" src="{% static 'AppPlantillas/img/futbol_noticia700.jpg' %}">
			</p>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div>
	<p>
	</p>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<p>
				
			</p>
			<p class="text-justify">
				Banfield invocó a Jesús y Dátolo comenzó a cambiar la historia del partido con un golazo colosal de tiro libre. Un rato después, apareció un Coronel (Emanuel) para, con autoridad, ponerle el sello a una buena victoria de Banfield. Después de ir 1-0 abajo, el Taladro reaccionó. Se sacudió la modorra, entendió que si se lo proponía podía llevarse un éxito y fue por él con decisión. Necesitó, también, de la gran tapada mano a mano de Cambeses, ante el ingresado Gallegos.

Había empezado dormido el equipo de Claudio Vivas y eso lo pagó con el sofocón del 1-0 de Unión. Poco se fue plantando en el mediocampo, se adueño de esa zona y controló el juego. Aprovechó los desajustes en las coberturas del Tatengue, que dejaba espacios a espaldas de sus volantes y fallaba en la salida. Presionó Banfield y el golazo de Dátolo, con un tiro libre que se colgó del ángulo sobre el final del PT, marcó el quiebre del encuentro. Y el propio Jesús tomó los hilos del ritmo en el ST, con la pausa y distribución de pelota.
Unión se desdibujó y en defensa, cuando el rival aceleraba, pecaba con distracciones. Dejaba jugadores libres por los costados y en la zona media no podía recuperar el balón ni ganar los rebotes. Cuadra le dio dinámica al ataque, Domingo se afirmó en la marca. En el Tate, Castrillón se apagó y ya no era el jugador picante del primer tiempo por la izquierda. En el tramo final del partido, el conjunto de Munúa se adelantó y empujó, aunque sin mucha claridad. La más peligrosa que tuvo fue tapada por Cambeses, de enorme respuesta cara a cara con Gallegos. En esos pasajes de búsqueda de Unión, Banfield aguantó con un gran despliegue, aunque sufrió dos veces por apariciones de Machuca. Debió liquidarlo antes el Taladro porque demostró que, cada vez que iba con velocidad, le armaba un lío a su adversario. Pero se metió en los octavos de final de la Copa Argentina. Lo espera Gimnasia de Jujuy.
			</p>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

<script src="{% static 'AppPlantillas/js/jquery.min.js' %}"></script>
<script src="{% static 'AppPlantillas/js/bootstrap.min.js' %}"></script>
<script src="{% static 'AppPlantillas/js/scripts.js' %}"></script>

{% endblock %}
{% block contenidonoaparece %}

{% endblock %}
  </body>
</html>