{% extends "AppPlantillas/index.html" %}

{% load static %}

{% block mantenerbarra %}

			</p>
			<h3 class="text-danger text-center">
				El capitán de Australia no jugará contra Los Pumas por no sentirse “mentalmente listo”
			</h3>
			<p>
			
			</p>
			<p class="text-center">
				<strong>Michael Hooper desistió de jugar el primer partido del Championship y abandonó la concentración en Mendoza.</strong>
			</p>
			<p>
			
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<p class="text-center">
			<img alt="Bootstrap Image Preview" src="{% static 'AppPlantillas/img/pumas_noticia.jpg' %}">
			</p>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div>
	<p>
	</p>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<p>
				
			</p>
			<p class="text-justify">
				Los Pumas y Australia completarán desde las 16.10 (ESPN 2 y Star+) la primera jornada del Rugby Championship: ambos equipos se enfrentarán esta tarde en el Malvinas Argentinas de Mendoza y los dos entrenadores contaron con bajas importantes para este partido. De hecho, Michael Cheika no contará con el lesionado Nicolás Sánchez y Dave Rennie no tendrá a su capitán, Michael Hooper.
				Lo curioso es que Hooper realizó toda la concentración en Argentina. Tanto es así que estuvo entrenando en las instalaciones del SIC y hasta viajó a la provincia cuyana. Sin embargo, desistió de jugar el primer partido del torneo porque adujo no sentirse "mentalmente listo" para encarar el encuentro. "Aunque esta decisión no fue fácil, sé que es la correcta para mí y para el equipo en este momento", declaró Hooper en un comunicado de Rugby Australia.
			</p>
			<p class="text-justify">
				El ala de 30 años regresará a Australia desde Mendoza, luego de haberles anunciado a sus compañeros de equipo la noche del viernes que no estaba en condiciones de disputar el test frente a Argentina. Además, Hooper agregó: "Toda mi carrera he buscado poner al equipo en primer lugar y no me siento capaz de cumplir con mis responsabilidades en este momento con mi estado mental actual".

"Sé que esta ha sido una decisión difícil para él. Ha demostrado verdadero coraje al reconocer en qué punto se encuentra y actuar en consecuencia", dijo el entrenador al contar que Hooper se dirigió al equipo para hacerles saber que no estaba bien y necesitaba regresar a su país. Y explicó: "Nada fue evidente para nosotros por cómo se entrenó, cómo contribuyó alrededor del equipo, alrededor del liderazgo, que fue excelente. Pero claramente ha estado luchando un poco y enmascarando bastante bien todo lo que le pasa".
			</p>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

<script src="{% static 'AppPlantillas/js/jquery.min.js' %}"></script>
<script src="{% static 'AppPlantillas/js/bootstrap.min.js' %}"></script>
<script src="{% static 'AppPlantillas/js/scripts.js' %}"></script>

{% endblock %}
{% block contenidonoaparece %}

{% endblock %}
  </body>
</html>